data/
datasets/
*.csv
*.json


outputs/
*.pt
*.pth
*.jpg
*.jpeg
*.log



__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache/


venv/
env/
.env
.conda/
.venv/


.ipynb_checkpoints/


.vscode/
.idea/
.DS_Store
Thumbs.db